<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.user.UMenuMapper" >
  <resultMap id="BaseResultMap" type="com.sojson.common.model.UMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="order_by" property="orderBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modife_time" property="modifeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, pid, name, url, logo_url, remark, order_by, create_time, modife_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_menus
    where id = #{id,jdbcType=BIGINT}
  </select>
  
   <select id="findMenuByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
     <include refid="Base_Column_List" />
    from u_menus
  	<if test="pid != null" >
	    where pid  = #{pid}
   	</if>
  </select>
  
  
  <select id="findMenuIdByRole" resultMap="BaseResultMap" >
    select 
     m.id 
    from u_menus
     INNER JOIN u_role_menu rm 
    ON m.id = rm.m_id 
    INNER JOIN u_role r 
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	  <if test="roleId != null" >
       		 r.id = #{roleId,jdbcType=BIGINT}
     	 </if>
     	 <if test="roleId != null" >
       		rm.r_id = #{roleId,jdbcType=BIGINT}
     	 </if>
    </trim>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_menus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.sojson.common.model.UMenu" >
    insert into u_menus (id, pid, name, 
      url, logo_url, remark, 
      order_by, create_time, modife_time
      )
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{orderBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.sojson.common.model.UMenu" >
    insert into u_menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="logoUrl != null" >
        logo_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderBy != null" >
        order_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifeTime != null" >
        modife_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifeTime != null" >
        #{modifeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.sojson.common.model.UMenu" >
    update u_menus
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null" >
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null" >
        order_by = #{orderBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifeTime != null" >
        modife_time = #{modifeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.sojson.common.model.UMenu" >
    update u_menus
    set pid = #{pid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      order_by = #{orderBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modife_time = #{modifeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>